// Import custom variables (overrides Bootstrap default variables)
@import "./variables.scss";

// Import Bootstrap
@import "bootstrap/scss/bootstrap.scss";

// Import custom styles
@import "./global.scss";
@import "./navbar.scss";
@import "./masthead.scss";
@import "./portfolio.scss";

.highlight {
	background-color: #ff6;
}

.yu-gothic {
	font-family: "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "Hiragino Sans", "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "メイリオ" , Meiryo , sans-serif;
}

.card-works {
	padding: 20px;
	color: inherit;
	
	> .card-thumb {
		margin-bottom: 10px;
	}
}
